:root {
  --primary: #6a59b8;
}

body > footer,
body > header {
  color: var(--white);
}

#home-middle {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 1024px;
  text-align: center;
}

#home-middle svg {
  width: 100%;
  max-width: 560px;
  display: block;
  margin: 0 auto;
  fill: var(--primary);
}

body > footer > nav {
  justify-content: flex-start;
}

/*** Flex ***/
[class*="flex"] {
  display: flex;
}
[class*="flex"] > * {
  flex: 1 0;
}
/* Direction */
[class*="row"] {
  flex-direction: row;
}
[class*="row-reverse"] {
  flex-direction: row-reverse;
}
[class*="column"] {
  flex-direction: column;
}
[class*="column-reverse"] {
  flex-direction: column-reverse;
}
/* Wrap */
[class*="nowrap"] {
  flex-wrap: nowrap;
}
[class*="wrap"] {
  flex-wrap: wrap;
}
[class*="wrap-reverse"] {
  flex-wrap: wrap-reverse;
}
/* Justify content */
[class*="flex-start"] {
  justify-content: flex-start;
}
[class*="flex-end"] {
  justify-content: flex-end;
}
[class*="center"] {
  justify-content: center;
}
[class*="space-between"] {
  justify-content: space-between;
}
[class*="space-around"] {
  justify-content: space-around;
}
/* Align items */
[class*="align-flex-start"] {
  align-items: flex-start;
}
[class*="align-self-flex-start"] {
  align-self: flex-start;
}
[class*="align-flex-end"] {
  align-items: flex-end;
}
[class*="align-self-flex-end"] {
  align-self: flex-end;
}
[class*="align-center"] {
  align-items: center;
}
[class*="align-self-center"] {
  align-self: center;
}
[class*="align-baseline"] {
  align-items: baseline;
}
[class*="align-self-baseline"] {
  align-self: baseline;
}
[class*="align-stretch"] {
  align-items: stretch;
}
[class*="align-self-stretch"] {
  align-self: stretch;
}
/* Flex type */
[class*="inherit"] > * {
  flex: inherit;
}
[class*="self-inherit"] {
  flex: inherit;
}
[class*="initial"] > * {
  flex: initial;
}
[class*="self-initial"] {
  flex: initial;
}
[class*="auto"] > * {
  flex: auto;
}
[class*="self-auto"] {
  flex: auto;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: transparent;
}

small {
  padding: 0;
}
